@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Отказ в доступе!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">У вас недостаточно прав для использования данного ресурса.</p>
</header>
