@page
@model LockoutModel
@{
    ViewData["Title"] = "Закрыт";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Этот аккаунт временно закрыт, пожалуйства попробуйте позже ещё раз.</p>
</header>
