@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Данное приложение пока не имеет API для отправки писем подтверждения.
    Обычно, подтверждение должно приходить на почту: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Нажмите сюда для потдверждения регистрации</a>
</p>
    }
    else
    {
<p>
        Пожалуйста проверьте почту на наличие письма подтверждения регистрации.
</p>
    }
}

