@inject SalonProjectContext db
@{
    ViewData["Title"] = "Панель администратора";
}
<h2>Панель для работы администратора</h2>
<div class="d-flex justify-content-center flex-wrap">
    <div class="card text-white bg-secondary mb-3 mx-2" style="max-width: 20rem;">
        <div class="card-header">Работники</div>
        <div class="card-body">
            <h4 class="card-title">@db.Workers.Count() сотрудников</h4>
            <p class="card-text"><a asp-action="Workers" class="btn btn-primary">Нажмите, дла администрирования.</a></p>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3 mx-2" style="max-width: 20rem;">
        <div class="card-header">Записи клиентов</div>
        <div class="card-body">
            <h4 class="card-title">@db.Bookings.Count() записей</h4>
            <p class="card-text">Нажмите, дла администрирования.</p>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3 mx-2" style="max-width: 20rem;">
        <div class="card-header">Должности</div>
        <div class="card-body">
            <h4 class="card-title">@db.JobTitles.Count() должностей</h4>
            <p class="card-text">Нажмите, дла администрирования.</p>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3 mx-2" style="max-width: 20rem;">
        <div class="card-header">Смены</div>
        <div class="card-body">
            <h4 class="card-title">@db.Shifts.Count() смен</h4>
            <p class="card-text">Нажмите, дла администрирования.</p>
        </div>
    </div>
</div>
<div class="diagrams-container">

    <div class="diagram-item" id="piechart" style="width: 700px; height: 450px;"></div>
    <div clsas="diagram-item" id="areachart" style="width: 700px; height: 450px;"></div>
    <div clsas="diagram-item" id="columnchart" style="width: 700px; height: 450px;"></div>
</div>
@{
}
@section Scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.ajax({
                type: 'GET',
                url: '/Home/GetPieChartJson',
                success: function (result) {
                    console.log(result.servicePieCharts);
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Service');
                    data.addColumn('number', 'Income');
                    $.each(result.servicePieCharts, function (i, item) {
                        data.addRow([item.service, item.income]);
                    });

                    var options = {
                        title: 'Доход по услугам',
                        position: 'top',
                        fontsize: '14px'
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                    chart.draw(data, options);
                },
                error: function () {
                    alert('Error!');
                }
            });
            $.ajax({
                type: 'GET',
                url: '/Home/GetAreaChartJson',
                success: function (result) {
                    console.log(result.servicePieCharts);
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Date');
                    data.addColumn('number', 'Выручка');
                    $.each(result.servicePieCharts, function (i, item) {
                        data.addRow([new Date(item.data).toLocaleDateString(), item.income]);
                    });

                    var options = {
                        title: 'Выручка за месяц',
                        position: 'top',
                        fontsize: '14px'
                    };

                    var chart = new google.visualization.AreaChart(document.getElementById('areachart'));
                    chart.draw(data, options);
                },
                error: function () {
                    alert('Error!');
                }
            });
            $.ajax({
                type: 'GET',
                url: '/Home/GetColumnChartJson',
                success: function (result) {
                    console.log(result.servicePieCharts);
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Name');
                    data.addColumn('number', 'Выручка');
                    $.each(result.servicePieCharts, function (i, item) {
                        data.addRow([item.name, item.income]);
                    });

                    var options = {
                        title: 'Выручка по сотрудникам',
                        position: 'top',
                        fontsize: '14px'
                    };

                    var chart = new google.visualization.ColumnChart(document.getElementById('columnchart'));
                    chart.draw(data, options);
                },
                error: function () {
                    alert('Error!');
                }
            });
            
        }
    </script>

}
